<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title th:text="#{project_name}">Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/assets/css/jumbotron.css" rel="stylesheet" />
    
    <!-- 独自CSS -->
    <link href="/css/base.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" th:text="#{project_name}">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." />
          </form>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>PFFシミュレーター</h1>
        <p>ピクトロジカFFに関するお遊びプログラムです。遺伝的アルゴリズムや動的計画法で最強パーティを洗い出すことはできるのか、実験中です。</p>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">パーティ検討</h2>
            </div>
            <div class="panel-body">
              <p>あなたのメモリア、武器、魔法、アクセサリから、最強パーティを検討します。通常バトル、エクサバトリア、敵の弱点に応じた最強パーティを検討することもできます。</p>
              <p><a href="/party" class="btn btn-default" role="button">使ってみる</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title">ランキング</h2>
            </div>
            <div class="panel-body">
              <p>あなたのメモリア、武器、魔法、アクセサリを評価し、ランキングします。</p>
              <p><a href="/ranking/memoria" class="btn btn-default" role="button">メモリアランキング</a></p>
              <p><a href="/ranking/weapon" class="btn btn-default" role="button">武器ランキング</a></p>
              <p><a href="#" class="btn btn-default" role="button" disabled="disabled">魔法ランキング</a></p>
              <p><a href="/item/accessory_ranking" class="btn btn-default" role="button">アクセサリランキング</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h2 class="panel-title">メモリア検討</h2>
            </div>
            <div class="panel-body">
              <p>今後、作成するかも。。。</p>
            </div>
          </div>
        </div>
      </div>
      
      <hr/>
      <footer>
        <p>@ kurukurupapa 2015</p>
      </footer>
    </div>
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
